@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?dc9d5q');
    src:  url('../fonts/icomoon.eot?dc9d5q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dc9d5q') format('truetype'),
    url('../fonts/icomoon.woff?dc9d5q') format('woff'),
    url('../fonts/icomoon.svg?dc9d5q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

header article .encabezado{
    display: flex;
    width: 85%;
    margin: auto;
    background-color: white;
    border: solid;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header article .encabezado img{
    width: 60px;
    height: 60px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
}

header article .inicio{
    float: left;
    color: rgb(27, 31, 49);
    margin-left: 80%;
    margin-top: 30px;
}

footer .pie {
    display: flex;
    width: 85%;
    margin: auto;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: solid;
    padding: 10px 10px 10px 10px;    
}

footer .pie .iconos{
    float: left;
    margin-left: 20px;   
}

footer .pie .iconos .icon-phone::before{
    font-family: 'icomoon';
    content: "\e900";
}

footer .pie .iconos .icon-location2::before{
    font-family: 'icomoon';
    content: "\e904";
}

footer .pie .iconos .icon-cop::before{
    font-family: 'icomoon';
    content: "\e9c9";
}

footer .pie .redes{
    padding: 20px 20px 20px 20px; 
    margin-right: 420px;
    display: flex;   
}

footer .pie .redes .icon-facebook::before{
    padding-left: 400px;
    font-family: 'icomoon';
    content: "\e902";  
}

footer .pie .redes .icon-youtube::before{
    font-family: 'icomoon';
    content: "\e903";  
    padding: 5px 5px 5px 5px;
}

footer .pie .redes .icon-mail4::before{
    font-family: 'icomoon';
    content: "\e901";
}

body{
    background: #e8e8e8;
}

h1{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

.barra{
    overflow: hidden;
    margin-top: 20px;
}

.logo1{
    float: left;
    color: rgb(27, 31, 49);
    margin-left: 85%;
}

.salir{
    float:right;
    padding: auto;
    margin-right: 10%;
    color: rgb(27, 31, 49);
}

.ventanas{
    display: block;
}
.ventanas .tabs{
    display: flex;
    width: auto;
    margin: 8%;
    margin-top: 10px;
    list-style: none;
    background: rgb(255, 255, 255);
    border: solid;
    border-radius: 20px 20px 20px 20px;
}


section .ventanas .tabs .usuario{
    width: auto;
    max-width: 40%;
    display: block;
    padding: 5px 5px;
    background-color: rgb(249, 253, 253);
    border-radius: 2px;
}

section .pantallas{
    margin-bottom: 50px;  
    margin-top: 12px; 
    margin-left: auto;
    margin-right: auto; 
    width: 75%;
    background-color: white;
    border: solid;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding: 5px 5px 5px 5px;
}

.ventanas .tabs .usuario .tab-text{
    margin-left: 4px;
}

section .crear1{
    text-align: center;
    border-top: 50%;
    padding: 20px 0px 20px;
}
section .btn1{
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px; 
    font-weight: bold;
    padding: 5px;
}

section .caja{
    text-align: center;
    padding: 10px;
}
section .boton{
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section .tabla{
    padding: 20px;
    text-align: center;
}
section .table{
    width: 100px;
    margin: 0 auto;
}