@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?dc9d5q');
    src:  url('../fonts/icomoon.eot?dc9d5q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dc9d5q') format('truetype'),
    url('../fonts/icomoon.woff?dc9d5q') format('woff'),
    url('../fonts/icomoon.svg?dc9d5q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

header article .encabezado{
    margin-top: 40px;
    display: flex;
    width: 85%;
    margin: auto;
    background-color: white;
    border: solid;
    border-radius: 20px 20px 20px 20px;
}

header article .encabezado img{
    width: 60px;
    height: 60px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
}

header article .inicio{
    color: rgb(27, 31, 49);
    margin-right: 10%;
    padding: 1%;
    font-size: 16px;
    text-align: right;

}

body{
    background: #e8e8e8;
    
}

h1{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 1px;
    text-align: center;
    font-size: 20px; 
}

.logo1{
    margin-right: 10%;
    padding: 1%;
    font-size: 12px;
    text-align: right;
}


.ventanas .tabs{
    margin-left: 8%;
    margin-right: 8%;
    font-size: 15px; 
    margin-top: 10px;
    list-style: none;
    background: rgb(255, 255, 255);
    border: solid;
    border-radius: 20px 20px 20px 20px;
}


section .ventanas .tabs .usuario{
    width: auto;
    max-width: 40%;
    padding: 5px 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

section .pantallas{
    margin-bottom: 12px;  
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-radius: 20px 20px 20px 20px;
    padding: 2px 2px 2px 2px;
}



.ventanas .tabs .usuario .tab-text{
    margin-left: 5px;
    
}
section .ventanas .tabs .parte .usuario{
    display: flex;
}

section .crear1{
    text-align: center;
    border-top: 50%;
    padding: 20px 0px 20px;
}
section .btn1{
    border-radius: 4px;
    font-size: 15px; 
    font-weight: bold;
    padding: 2px;
}

section .caja{
    text-align: center;
    padding: 10px;
    font-size: 15px; 
}
section .boton{
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    font-size: 15px; 
}

section .tabla{
    padding: 20px;
    text-align: center;
    text-size-adjust: 10px;

}

table {
    width: 80%;
    border: 0.5px solid #000;
    font-size: 12px;
    float: center;

}

section .table{
    width: 100px;
    margin: 0 auto;
    padding: auto;
    border-collapse: separate;
    border-spacing: 10px 8px
}

footer .pie {
    display: flex;
    width: 85%;
    margin: auto;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: solid;
    padding: 10px 10px 10px 10px;    
}

footer .pie .iconos{
    float: left;
    margin-left: 5%;   
}

footer .pie .iconos .icon-phone::before{
    font-family: 'icomoon';
    content: "\e900";
}

footer .pie .iconos .icon-location2::before{
    font-family: 'icomoon';
    content: "\e904";
}

footer .pie .iconos .icon-cop::before{
    font-family: 'icomoon';
    content: "\e9c9";
}

footer .pie .redes{
    padding: auto; 
    margin-right: auto;
    display: flex;   
}

footer .pie .redes .icon-facebook::before{
    padding-left: 400px;
    font-family: 'icomoon';
    content: "\e902";  
}

footer .pie .redes .icon-youtube::before{
    font-family: 'icomoon';
    content: "\e903";  
    padding: 5px 5px 5px 5px;
}

footer .pie .redes .icon-mail4::before{
    font-family: 'icomoon';
    content: "\e901";
}

.mytabs{
    display: flex;
    flex-wrap: wrap ;
    max-width: 80%;
    margin: 10px auto;
    padding: 25px;
}


.mytabs input[type="radio"]{
    display: none;
}
.mytabs input[type="radio"]:checked + label + .info{
    display: block;
}


.mytabs label {
    padding: 2px;
    background: rgb(200, 227, 253);
    font-weight: bold;
    border-radius: 2px;
    border:solid 0.2px;
}

.mytabs .info {
    width: 100%;
    padding: 20px;
    background: white;
    order: 1;
    display: none;
    border: solid 0.2px;
    border-radius: 0px 20px 20px 20px;

}

.mytabs .info h2{
    font-size: 15px;

}

.mytabs input[type="radio"]:checked + label {
    background: rgb(255, 255, 255);
}
